<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/css/blocks/layout.css">
        <link rel="stylesheet" href="static/css/blocks/brand.css">
        <link rel="stylesheet" href="static/css/blocks/sidebar-menu.css">
        <link rel="stylesheet" href="static/css/blocks/tweet.css">
        <link rel="stylesheet" href="static/css/blocks/daily_motivation.css">

        <title>Positivity Stream</title>
    </head>
    <body> 
        <div class="layout">
            <div class="layout__left-sidebar">
                <img src="static/images/svg/ps_logo.svg" class="brand">
                <div class="sidebar-menu">
                    <div class="sidebar-menu__item sidebar-menu__item--active">
                        <img src="static/images/svg/home.svg" class="sidebar-menu__item_icon">
                        Home
                    </div>

                    <div class="sidebar-menu__item">
                        <img src="static/images/svg/user.svg" class="sidebar-menu__item_icon">
                        Profile
                    </div>

                    <div class="sidebar-menu__item">
                        <img src="static/images/svg/message.svg" class="sidebar-menu__item_icon">
                        Messages
                    </div>
                </div>
                
            </div>
            <div class="layout__main">
                
                <div class="positivity_stream--title">
                    Positivity Stream
                </div>

                <div class="layout__main-header">
                    What are people saying:

                </div>

                <div class="tweet">
                    <img class="tweet__author-logo" src="static/images/svg/ps_logo.svg" >
                    <div class="tweet__main">
                        <div class="tweet__header">
                            <div class="tweet__author-name"> User Name </div>
                            <div class="tweet__published-time"> 06/09/2023 09:50:00 </div>
                        </div>
                        <div class="tweet__content">
                            Post content HEY!!!
                        </div>
                    </div>
                </div>

                <div class="tweet">
                    <img class="tweet__author-logo" src="static/images/svg/ps_logo.svg" >
                    <div class="tweet__main">
                        <div class="tweet__header">
                            <div class="tweet__author-name"> User Name </div>
                            <div class="tweet__published-time"> 06/09/2023 09:50:00 </div>
                        </div>
                        <div class="tweet__content">
                            Post content HEY!!!
                        </div>
                    </div>
                </div>

                <div class="tweet">
                    <img class="tweet__author-logo" src="static/images/svg/ps_logo.svg" >
                    <div class="tweet__main">
                        <div class="tweet__header">
                            <div class="tweet__author-name"> User Name </div>
                            <div class="tweet__published-time"> 06/09/2023 09:50:00 </div>
                        </div>
                        <div class="tweet__content">
                            Post content HEY!!!
                        </div>
                    </div>
                </div>


            </div>
            <div class="layout__right-sidebar-container">
                <div class="layout__right-sidebar">
                    <div class="daily_motivation">
                        <div class="daily_motivation__heading">
                            Daily Motivation
                        </div>
                        <div class="daily_motivation__content">
                            Keep going youv'e got this!
                        </div>
                    </div>

                </div>
                
            </div>

        </div>
         
    </body>
</html>