<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>CheerCHIRP</title> 
  </head>
  <br>
  <body>
    <a href="/"><h1 class="cheer_header">CheerCHIRP</h1></a>
    {% if auth == False %}
      <a href="/signup">Create an account</a>
      <br>
      <a href="/login">Already a member? Sign in</a>
    {% endif %}
    

    {% if auth == True %}

      {% if errors %}
        <p>There were errors with your submission:</p>
        <p> {{ errors }} </p>
      {% endif %}

      <h1>New Cheerful Chirp</h1>

      {% if messages %}
        <p>{{ messages }} </p>

      {% endif %}

      <form action="/" method="POST">
        <input type="submit" name="logout_button" value="Log Out">
      </form>

      <form action="/" method="post">
        <p>
          <label for="title">Title</label>
          <input type="text" name="title" id="title">
        </p>
        <p>
          <label for="content">Content</label>
          <input type="text" name="content" id="content">
        </p>
        <p>
          <input type="submit" value="Create Post">
        </p>
      </form>

    {% endif %}
    <br>
    <h1>Chirps</h1>

    {% for post in posts %}
      <div class="container">
        <h2 class="t-title">{{ post.title }}</h2>
        <div class="card">
            <p class="t-name">{{ post.user_id.username }}</p> : <p class="t-datetime">{{ post.datetime }}</p>
        </div>
        <div class="content-block">
          <p class="t-content">{{ post.content }}</p>
        </div>
      </div>
    {% endfor %}
  </body>
</html>
